@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");
* {
	font-family: "Josefin Sans", sans-serif;
}
div#container {
	/* background-color: #f8f8f8; */
	/* background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500); */
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(255, 209, 67, 1) 0%,
		rgba(255, 145, 83, 1) 90%
	);
	color: #002244;
	text-align: center;
	height: 100%;
	padding-top: 30px;
}
input,
select,
table {
	font-size: 20px;
	margin-top: 10px;
}
span {
	color: purple;
	font-weight: bold;
}
input,
#countries {
	height: 30px;
}
input {
	width: 200px;
}

#countries {
	width: 300px;
}
table {
	text-align: center;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
