body {
	background: linear-gradient(to right, #1c92d2, #f2fcfe);
}

.container {
	max-width: 400px;
	border: solid 2px;
	margin-top:50px;
}

input[type="text"],
input[type="text"]:focus {
	color: #fff;
	border: none;
	background: rgba(0, 0, 0, 0.2);
	max-width: 400px;
}

.todos li {
	background: #011a27;
	font-size: 1.2em;
}

.delete {
	cursor: pointer;
}

.filtered {
	display: none !important;
}
